@import url(//db.onlinewebfonts.com/c/5e72186f2671cdfad7e0ca56b85262ef?family=HelveticaNeueLT+Arabic+75+Bold);

@font-face {
  font-family: "Helvitica Arabe";
  src: url("../assets/fonts/HELVETICANEUELTARABIC-BOLD.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Helvitica Arabe";
  src: url("../assets/fonts/HELVETICANEUELTARABIC-LIGHT.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Helvitica Arabe";
  src: url("../assets/fonts/HELVETICANEUELTARABIC-ROMAN.otf");
  font-weight: 500;
}

* {
  font-family: "Helvitica Arabe";
}

html {
  scroll-behavior: smooth;
}

body {
  // @font-face {
  //     font-family: 'HELVETICANEUELTARABIC-BOLD';
  //     src: url("../assets/fonts/HELVETICANEUELTARABIC-BOLD.otf");
  // }
  // font-family: "HELVETICANEUELTARABIC-BOLD", sans-serif;
  font-size: 16px;
  color: white;
  background-color: #fff;
  overflow-x: hidden;
}

$breakpoint-tablet: 1300px;

@media (max-width: $breakpoint-tablet) {
  body {
    nav {
      padding-top: 10px;
      padding-bottom: 20px;

      p {
        font-size: 30px;

        span {
          // display: none;
        }
      }
    }

    .checkicon {
      margin: 2rem 1rem;
      padding: 2rem 1rem;

      ul {
        padding: 0rem 0;

        .li_bottom {
          padding-bottom: 0;
        }
      }
    }

    .section_2 {
      .section_2_child {
        .text_2 {
          p {
            font-size: 28px;
          }
        }
      }

      .section_2_child2 {
        p {
          font-size: 28px;
        }
      }
    }

    .section_3 {
      header {
        h1 {
          font-size: 2.75rem;
        }
      }
    }

    .section_5 {
      .section_5_child {
        .section_5_child_1 {
          .section_5_child_1_1 {
            gap: 10%;
          }
        }
      }
    }
  }
}

$breakpoint-iphone: 390px;

@media (max-width: $breakpoint-iphone) {
  body {
    nav {
      padding-top: 0px !important;
      padding-bottom: 20px !important;

      p {
        span {
          font-size: 28px !important;
          line-height: 10px;
          // display: none;
        }
      }
    }

    .titlee {
      height: 463px !important;

      h1 {
        padding-top: 20px !important;
        font-size: 32px !important;
      }

      p {
        font-size: 18px !important;
        margin-top: 20px !important;
      }

      .button {
        flex-direction: column;
        gap: 1rem !important;
        margin: 10px auto !important;
        justify-content: center;
        text-align: center;

        button {
          padding: 5px !important;
          font-size: 18px !important;
          margin: 0px auto !important;
          width: 160px;
        }
      }
    }

    .checkicon {
      margin: 2rem 1rem;
      padding: 2rem 1rem;

      .hadayhyd {
        display: none !important;
      }

      .hadaybqa {
        padding: 0rem 0;
        display: contents !important;

        .imgUl {
          display: flex !important;
          margin: 0 auto;
        }

        li {
          span {
            font-size: 18px !important;
            margin-bottom: 20px;
            text-align: right;
          }

          img {
            width: 100px;
            height: 100px;
          }
        }

        .li_bottom {
          padding-bottom: 0;
        }
      }
    }

    .section_2 {
      header {
        h1 {
          font-size: 2rem;
        }
      }

      .section_2_child {
        flex-direction: column;
        margin-top: 30px !important;

        .flex-1 {
          padding: 0 35px;
        }

        .text_2 {
          p {
            font-size: 20px;
            padding: 5px 10px !important;
          }
        }
      }

      .section_2_child2 {
        margin-top: 10px;

        p {
          font-size: 20px;
          padding: 5px 45px !important;
        }
      }
    }

    .section_3 {
      margin-top: 40px !important;

      header {
        h1 {
          font-size: 20px;
          padding: 5px 10px 10px 10px;
        }
      }

      .video_pr {
        padding: 0 30px;

        img {
          width: 1600px;
        }

        iframe {
          width: 200px;
          height: 120px;
        }
      }
    }

    .section_5 {
      header {
        img {
          display: none;
        }

        h1 {
          font-size: 30px;
        }
      }

      .section_5_child {
        display: none;

        .section_5_child_1 {
          .section_5_child_1_1 {
            gap: 10%;
          }
        }
      }

      .section_5_childACtive {
        display: contents;

        .btn-dow-pdf {
          zoom: 65%;
          margin-bottom: 20px;
          margin-top: 80px;
          width: 309px;
        }

        .btn-form {
          zoom: 65%;
          margin: 0 auto;

          button {
            padding: 5px 10px 10px 10px !important;
            width: 133px;
          }
        }
      }
    }

    .video-poeple {
      height: 49em !important;

      img {
        display: none;
      }

      .section_video-poeple {
        display: contents;

        header {
          h1 {
            font-size: 20px;
            padding: 5px 10px 10px 10px;
          }
        }
      }

      .section_video-poeple_1 {
        position: relative !important;
        top: 30px !important;

        .tuto {
          display: contents;
        }
      }
    }

    .cv {
      margin-top: 40px;
    }

    .section_6 {
      position: relative;
      top: 40px;
    }

    .section_7 {
      header {
        h1 {
          font-size: 30px !important;
        }

        .h-4 {
          position: relative;
          bottom: 20px;
        }
      }

      .section_7_child {
        display: flex !important;
        flex-direction: column !important;

        .section_7_child_1 {
          flex-direction: column !important;

          img {
            width: 50%;
          }
        }

        .section_7_child_2 {
          flex-direction: column !important;
          margin-top: 0 !important;

          img {
            width: 50%;
          }
        }
      }
    }
    #form {
        padding: 0 25px !important;
      header {
        h1 {
          font-size: 20px;
          padding: 5px 10px 10px 10px;
        }
      }
    }

    .section_8 {
      text-align: center;

      header {
        h1 {
          font-size: 30px;
          font-weight: 900;
        }
      }

      .section_8_child {
        margin: 25px 0 !important;

        .section_8_child_1 {
          display: flex;
          flex-direction: column;
          margin: 0 10px !important;

          .row-span-3 {
            img {
              max-width: 200px !important;
              margin: 0 auto !important;
            }
          }

          .row-span-2 {
              padding: 10px !important;

            p {
              font-size: 20px !important;
            }
          }
        }
      }
    }
  }
}
