@import url(//db.onlinewebfonts.com/c/5e72186f2671cdfad7e0ca56b85262ef?family=HelveticaNeueLT+Arabic+75+Bold);
@font-face {
  font-family: "Helvitica Arabe";
  src: url("../assets/fonts/HELVETICANEUELTARABIC-BOLD.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Helvitica Arabe";
  src: url("../assets/fonts/HELVETICANEUELTARABIC-LIGHT.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Helvitica Arabe";
  src: url("../assets/fonts/HELVETICANEUELTARABIC-ROMAN.otf");
  font-weight: 500;
}

* {
  font-family: "Helvitica Arabe";
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: white;
  background-color: #fff;
  overflow-x: hidden;
}

@media (max-width: 1300px) {
  body nav {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  body nav p {
    font-size: 30px;
  }
  body .checkicon {
    margin: 2rem 1rem;
    padding: 2rem 1rem;
  }
  body .checkicon ul {
    padding: 0rem 0;
  }
  body .checkicon ul .li_bottom {
    padding-bottom: 0;
  }
  body .section_2 .section_2_child .text_2 p {
    font-size: 28px;
  }
  body .section_2 .section_2_child2 p {
    font-size: 28px;
  }
  body .section_3 header h1 {
    font-size: 2.75rem;
  }
  body .section_5 .section_5_child .section_5_child_1 .section_5_child_1_1 {
    gap: 10%;
  }
}

@media (max-width: 390px) {
  body nav {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
  }
  body nav p span {
    font-size: 28px !important;
    line-height: 10px;
  }
  body .titlee {
    height: 463px !important;
  }
  body .titlee h1 {
    padding-top: 20px !important;
    font-size: 32px !important;
  }
  body .titlee p {
    font-size: 18px !important;
    margin-top: 20px !important;
  }
  body .titlee .button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem !important;
    margin: 10px auto !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  body .titlee .button button {
    padding: 5px !important;
    font-size: 18px !important;
    margin: 0px auto !important;
    width: 160px;
  }
  body .checkicon {
    margin: 2rem 1rem;
    padding: 2rem 1rem;
  }
  body .checkicon .hadayhyd {
    display: none !important;
  }
  body .checkicon .hadaybqa {
    padding: 0rem 0;
    display: contents !important;
  }
  body .checkicon .hadaybqa .imgUl {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 0 auto;
  }
  body .checkicon .hadaybqa li span {
    font-size: 18px !important;
    margin-bottom: 20px;
    text-align: right;
  }
  body .checkicon .hadaybqa li img {
    width: 100px;
    height: 100px;
  }
  body .checkicon .hadaybqa .li_bottom {
    padding-bottom: 0;
  }
  body .section_2 header h1 {
    font-size: 2rem;
  }
  body .section_2 .section_2_child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px !important;
  }
  body .section_2 .section_2_child .flex-1 {
    padding: 0 35px;
  }
  body .section_2 .section_2_child .text_2 p {
    font-size: 20px;
    padding: 5px 10px !important;
  }
  body .section_2 .section_2_child2 {
    margin-top: 10px;
  }
  body .section_2 .section_2_child2 p {
    font-size: 20px;
    padding: 5px 45px !important;
  }
  body .section_3 {
    margin-top: 40px !important;
  }
  body .section_3 header h1 {
    font-size: 20px;
    padding: 5px 10px 10px 10px;
  }
  body .section_3 .video_pr {
    padding: 0 30px;
  }
  body .section_3 .video_pr img {
    width: 1600px;
  }
  body .section_3 .video_pr iframe {
    width: 200px;
    height: 120px;
  }
  body .section_5 header img {
    display: none;
  }
  body .section_5 header h1 {
    font-size: 30px;
  }
  body .section_5 .section_5_child {
    display: none;
  }
  body .section_5 .section_5_child .section_5_child_1 .section_5_child_1_1 {
    gap: 10%;
  }
  body .section_5 .section_5_childACtive {
    display: contents;
  }
  body .section_5 .section_5_childACtive .btn-dow-pdf {
    zoom: 65%;
    margin-bottom: 20px;
    margin-top: 80px;
    width: 309px;
  }
  body .section_5 .section_5_childACtive .btn-form {
    zoom: 65%;
    margin: 0 auto;
  }
  body .section_5 .section_5_childACtive .btn-form button {
    padding: 5px 10px 10px 10px !important;
    width: 133px;
  }
  body .video-poeple {
    height: 49em !important;
  }
  body .video-poeple img {
    display: none;
  }
  body .video-poeple .section_video-poeple {
    display: contents;
  }
  body .video-poeple .section_video-poeple header h1 {
    font-size: 20px;
    padding: 5px 10px 10px 10px;
  }
  body .video-poeple .section_video-poeple_1 {
    position: relative !important;
    top: 30px !important;
  }
  body .video-poeple .section_video-poeple_1 .tuto {
    display: contents;
  }
  body .cv {
    margin-top: 40px;
  }
  body .section_6 {
    position: relative;
    top: 40px;
  }
  body .section_7 header h1 {
    font-size: 30px !important;
  }
  body .section_7 header .h-4 {
    position: relative;
    bottom: 20px;
  }
  body .section_7 .section_7_child {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  body .section_7 .section_7_child .section_7_child_1 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  body .section_7 .section_7_child .section_7_child_1 img {
    width: 50%;
  }
  body .section_7 .section_7_child .section_7_child_2 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-top: 0 !important;
  }
  body .section_7 .section_7_child .section_7_child_2 img {
    width: 50%;
  }
  body #form {
    padding: 0 25px !important;
  }
  body #form header h1 {
    font-size: 20px;
    padding: 5px 10px 10px 10px;
  }
  body .section_8 {
    text-align: center;
  }
  body .section_8 header h1 {
    font-size: 30px;
    font-weight: 900;
  }
  body .section_8 .section_8_child {
    margin: 25px 0 !important;
  }
  body .section_8 .section_8_child .section_8_child_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px !important;
  }
  body .section_8 .section_8_child .section_8_child_1 .row-span-3 img {
    max-width: 200px !important;
    margin: 0 auto !important;
  }
  body .section_8 .section_8_child .section_8_child_1 .row-span-2 {
    padding: 10px !important;
  }
  body .section_8 .section_8_child .section_8_child_1 .row-span-2 p {
    font-size: 20px !important;
  }
}
/*# sourceMappingURL=style.css.map */